	
* {
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
}
body{
    background-color: rgb(56, 56, 56);
    color:rgb(255, 255, 255)
}
li{
    list-style: none; 
    margin: 10px;
    display: inline;
}
li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid rgb(17, 16, 16); 
    background: rgb(48, 47, 47);
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: #CCC;
    color: #000; 
    border-color: #000;
}
.bar_menu{
    

}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    font-size: xx-large;
}
h3{
    font-size: x-large;
}
ul{
    font-size: large ;
}