body {
width: 100%;
height: 100%;
}
.menu-principal {
background-color: rosybrown;
height: 160px;
width: 100%;
}
main{
margin: 0 auto;
height: 980px;
position: relative;
}
.logo{
    
}
/*Próximo passo, ajustar o header, tirar aquele espaço*/
/*Link do vídeo: https://youtu.be/qPYCnebQQ6U --- Minuto 31:04*/